*.iml
*.cbun
.gradle
/frontend/local.properties
/frontend/.idea/caches
/frontend/.idea/libraries
/frontend/.idea/modules.xml
/frontend/.idea/workspace.xml
/frontend/.idea/navEditor.xml
/frontend/.idea/assetWizardSettings.xml
.DS_Store
/build
/backend/build
/frontend/build
/captures
.externalNativeBuild
.cxx
local.properties
backend/tests/integration_test